<ion-content>
  
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Centro Medico Galenos </ion-card-title>
      <ion-card-subtitle>Encargados de tu salud y de los demas con Profesionales que cuentan con la experiencia y conocimiento para usted, contamos con servicios medicos como kineosologia,oftalmologia
        otorrinolaringologia etc.</ion-card-subtitle> 
    </ion-card-header>
  
    <ion-card-content>
      Galenos
    </ion-card-content>
  </ion-card>

  <ion-searchbar (ionInput)="getItem($event)"></ion-searchbar>
  <h2></h2>
  <img alt=" grass" src="https://magazine.medlineplus.gov/images/uploads/main_images/eat-fruit-and-vegetables.jpg" />
  <p></p>

  
 
  <ion-card>
    <ion-card-header>
      <ion-card-title>Come Frutas y Verduras</ion-card-title>
      <ion-card-subtitle>Comer Sano</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>

      Consumir diariamente frutas y verduras ayuda a prevenir la diabetes, el sobrepeso, la hipertensión arterial, las enfermedades cardiovasculares y el cáncer, informaron los nutricionistas del Instituto Nacional de Salud (INS) del Ministerio de Salud (Minsa).
      Su ingesta al día aporta vitaminas, sales minerales, antioxidantes y fibra; además es baja en calorías y favorece la eliminación de toxinas del organismo. “Las frutas y verduras aportan especialmente la vitamina A y C, son fundamentales para la prevención de enfermedades”, indicaron.
     .
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" (click)="scrollToBottom()">Mas Info
  </ion-button>

</ion-content>
<!-- Termina el Header -->
